# Visual Studio Code
.vscode/

# Evidencias locales
Evidencias/

# Maven / Spring Boot
**/target/

# Java
*.class

# Logs
*.log

# Variables de entorno y secretos
.env
.env.*
application-local.properties
application-secret.properties

# Sistema operativo
.DS_Store
Thumbs.db
